<!DOCTYPE html>
<html lang="en">
{% load static %}    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django blog</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
            
</head>
<body>
    <ul id="nav">
        {%if not user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">+ New Blog Post</a></li>
            <ul style="float:right;list-style-type:none;">
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        {%else%}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'post_new' %}">+ New Blog Post</a></li>
            <ul style="float:right;list-style-type:none;">
                <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        {%endif%}    
    </ul>
        
    {% if user.is_authenticated %}
        <h2>Howdy {{ user.username }}!</h2>
        <p class="link"><a href="{% url 'change_password' %}">Change-password</a></p>
    {% else %}
        <h2>Welcome Anonymous</h2>
        <p>You are not logged in.</p>
    {% endif %}   
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>